/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
[hidden] {
  display: none;
}
/* Columns and layout */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
#__bs_notify__ {
  display: none !important;
}
main {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1280px;
  width: 100%;
}
.module {
  margin: 8rem 0;
  padding: 2rem;
}
.flex-grid {
  display: flex;
  justify-content: center;
}
.col {
  flex: 1;
  padding: 2rem;
  position: relative;
}
.col:nth-child(n + 1) {
  margin-left: 2rem;
}
.col:last-child {
  margin-right: 2rem;
}
.col.vertical-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.single-column .col {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  width: 100%;
}
@media (max-width: 680px) {
  .flex-grid {
    display: block;
  }
  .single-column .col {
    margin: 2rem;
    width: auto;
  }
}
/* Text styles */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff)
      format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff)
      format("woff");
}
html {
  background: #f9fcff;
  color: #333;
  font-size: 10px;
  font-family: "Avenir Next", Open Sans, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.8rem;
}
h2,
h3 {
  margin-bottom: 0;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.8rem;
}
h4,
h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
p,
li {
  font-size: 1.8rem;
  line-height: 1.5;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  background: #333;
  color: #fff;
  padding: 6rem;
  text-align: center;
}
footer a {
  color: #fff;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  display: inline-block;
  margin: 0;
}
footer li::before {
  content: "\2022 \A0";
}
footer li:first-child::before {
  content: "";
}
/* Custom styling for the content */
.rocky-image {
  width: 100%;
  max-width: 54rem;
}
.badge {
  border-radius: 50%;
  background: green;
  display: flex;
  flex-shrink: 0;
  height: 10rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 10rem;
  width: 10rem;
  position: relative;
  box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.badge::before {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  bottom: 2.5px;
  left: 2.5px;
  border: 6px solid #fff;
}
.badge.first {
  background: red;
}
.badge.third {
  background: yellow;
}
.rocky-badge {
  height: 70px;
  z-index: 10;
}
.rocky-image-small {
  width: 150%;
  margin-left: -2rem;
}
.options {
  margin: 8em 0;
}
.options .option {
  border-radius: 0.2em;
  border: 1px solid transparent;
}
.options .badge,
.options h2,
.options p {
  position: absolute;
  left: 20%;
  right: 20%;
}
.options .more-info {
  left: 10%;
  right: 10%;
}
.options .call-to-action {
  display: inline-block;
  margin: 1em auto;
}
.options h2 {
  top: 5em;
}
.options p {
  top: 7em;
  max-width: 80%;
}
.options .col {
  height: 18em;
  margin: 2em 0;
  text-align: center;
  width: 20em;
}
.options .col p:nth-child(2) {
  flex-grow: 1;
}
.section-title {
  text-align: center;
}
.button {
  background: #269300;
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  /* background: #000; */
  color: #aaa;
}

a {
  text-decoration: underline;
}

.content {
  margin: 10em auto;
  max-width: 740px;
  width: 80%;
}

p {
  font-size: 3em;
  margin: 6em auto;
}

.modal {
  background: -webkit-linear-gradient(top, #fff, #333);
  background: linear-gradient(to bottom, #fff, #333);
  border-radius: 2em;
  height: 400px;
  left: calc(50% - 300px);
  position: fixed;
  top: calc(50% - 200px);
  width: 600px;
  z-index: 99;
}

.modal h2 {
  color: #333;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
}

.modal p {
  color: #333;
  font-size: 1.5em;
  margin: 1em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

input {
  border: 1px solid #333;
  border-radius: 0.1em !important;
  color: #333;
  font-size: 1.5em;
  padding: 0.25em;
}

input[type="email"] {
  margin: 0 0.5em;
}

input[type="submit"] {
  background: #333;
}

.modal .close {
  color: #333;
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-align: center;
}

section.pink-bg-color {
  height: 100vh;
  background: pink;
}
section.blue-bg-color {
  height: 100vh;
  background: skyblue;
}
section.green-bg-color {
  height: 100vh;
  background: lightseagreen;
}
section.red-bg-color {
  height: 100vh;
  background: #ae2020;
}
