html,
body {
  background: #fff;
  color: #fff;
  height: 300vh;
}

.content {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 100vh;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  width: 100vw;

  -webkit-box-align: center;
  -webkit-box-pack: center;
}

div {
  background: #333;
  font-size: 38px;
  font-weight: bold;
  height: 300px;
  line-height: 300px;
  margin: 1em;
  text-align: center;
  width: 300px;
}

.one {
  background-color: #ec368d;
}

.two {
  background-color: #333;
}

.three {
  background-color: #440381;
}
